.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials__button {
  width: 100%;
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border: none;
}

.socials__separator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socials__separator span {
  font-size: 0.8rem;
}

.socials__separator div {
  flex-shrink: 1;
}
